body{
    font-family: 'Nunito', sans-serif;
}
.header{
    min-height: 800px;
    margin-bottom: 120px;
}
.header-table{
    width: 630px;
    height: 800px;
    background: url(../img/header-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.header-container{
    height: 540px;
    display: flex;
    align-items: center;
}
.nav-link.active{
    color: #DAA520 !important;
}
.funiture-text-center{
    align-items: center;

}
.with-logo3{
    background: url(../img/logito1.png);
    background-repeat: no-repeat;
    margin-left: -30px;
    padding-left: 40px;
}
.logo3{
    font-size: 1.75rem;
    
}
.h3{
    color: #3E3F43;
    font-size: 1.25rem;
    width: 105%;  
}
.header-with-logo1{
    background: url(../img/logito1.png);
    background-repeat: no-repeat;
    margin-left: -30px;
    padding-left: 60px;
}
.desk{
    background: url(../img/desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 1000px;
    top: 10px;
}
.chair{
    background: url(../img/chairjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 600px;
    top: 10px;
}
.kitchenware{
    background: url(../img/kitchenware.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 200px;
    top: 10px;
}