body{
    font-family: 'Nunito', sans-serif;
}
.header{
    min-height: 800px;
    margin-bottom: 120px;
}
.header-table{
    width: 630px;
    height: 800px;
    background: url(../img/header-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.header-container{
    height: 540px;
    display: flex;
    align-items: center;
}
.nav-link.active{
    color: #DAA520 !important;
}
.funiture-text-center{
    align-items: center;

}


.with-logo3{
    background: url(../img/logito1.png);
    background-repeat: no-repeat;
    margin-left: -30px;
    padding-left: 40px;
}
.logo3{
    font-size: 1.75rem;
    
}
.h3{
    color: #3E3F43;
    font-size: 1.25rem;
    width: 105%;  
}
.header-with-logo1{
    background: url(../img/logito1.png);
    background-repeat: no-repeat;
    margin-left: -30px;
    padding-left: 60px;
}
.desk{
    background: url(../img/desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 1000px;
    top: 10px;
}
.chair{
    background: url(../img/chairjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 600px;
    top: 10px;
}
.kitchenware{
    background: url(../img/kitchenware.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 200px;
    top: 10px;
}
.book{
    background: url(../img/Book\ Shelf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 1000px;
    top: 280px;
}
.electronics{
    background: url(../img/electronics.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 17%;
    position: absolute;
    right: 600px;
    top: 280px;
}
.boton4{
    position: relative;
    top: 240px;
}
.testimony-logo{
    background: url(../img/testimony.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 17%;
    position: absolute;
    right: 1000px;
    top: 800px; 
}
.testimony-logo1{
    background: url(../img/testimony1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 17%;
    position: absolute;
    right: 666px;
    top: 800px; 
}
.testimony-logo3{
    background: url(../img/sandra.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 224px;
    width: 24%;
    position: absolute;
    right: 335px;
    top: 750px; 
}
.logo5{
    position: relative;
    top: 100px;
    padding: 2px;
}
.logo7{
    position: relative;
    top: 100px;
    padding: 2px;
    right: -200px;
}
.small{
    font-size: 0.7rem;
    margin-top: 80px;
}
button, input, optgroup, select, textarea {
    margin: -80px;
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    line-height: inherit;
    right: 110px;
    height: 45px;
    width: 300px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    position: absolute;
    right: -30px;
    height: 45px;
    margin: -50px;
    width: 100px;
    top: 68%;
}
.information{
    position: relative;
    bottom: 30px;
    word-spacing: 60px;
    top: 0px;
    right: -47px;
    text-align: center;
}
.textforni{
    position: relative;
    font-size: 15px;
    word-spacing: 80px;
    text-align: center;
    right: -45px;
}
.info{
font-size: 17px;
position: relative;
bottom: 174px;
right: -40px;
}